body{
  padding: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  }
  
  form{
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  
  label{
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif,Arial;
    margin-bottom: 3px;
    padding-bottom: 3px;
    align-self: start;
    justify-content: space-around;
  }
  
  div{
    margin-bottom: 3px;
    padding: 10px;
  
  }
  input{
    padding-top: 5px;
    width: 100%;
    border: 0.5px solid black;
    border-radius:  5px; 
    height: 25px;
  
  }
  
  button{
    width: 50%;
    background-color: rgb(92, 131, 246);
    font-size: 20px;
    border: 1px;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 0 0 0 0.5px;
    
  }