.btn{
    padding: 6px;
    border-radius: 4px;
    border: 1px;
    background-color: navy;
    color: white;
    font-family: arial,sans-serif;
    font-size: 20px;
     
    
}

button:hover{
        color: white;
        background-color: green;
}
